
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--text-color-light);
}
ul{
    list-style: none;
}

h1,h2,h3,h4,h5{
    color: var(--text-color);
}

img{
    max-width: 100%;
}